extends layout 

block content 
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='/me') Social App
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExample07' aria-controls='navbarsExample07' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExample07.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            if title == 'Dashboard'
              a.nav-link.active.disabled(href='/me') Me
            else
              a.nav-link(href='/me') Me
          li.nav-item
            if title == 'Pages'
              a.nav-link.active.disabled(href='/pages') Pages
            else
              a.nav-link(href='/pages') Pages
          li.nav-item
            a#logout.nav-link(href='#') Logout
        form.form-inline.my-2.my-md-0.dropdown
          input#searchInput.form-control(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type='text' placeholder='Search' aria-label='Search')
          #searchDropdown.dropdown-menu(aria-labeledby='searchInput')
            h6.dropdown-header Результаты поиска
  .container
    block main_content

block scripts 
  script(src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous") 
  script(src="main_layout_scripts.js") 